* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #080969;
}

.copyright {
    background-color: #06003a;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2rem;
    max-width: 100vw;
}

